<form
    class="form form-deliveries"
    [formGroup]="formData"
    (ngSubmit)="onSubmit()"
>
    <h1>deliveries</h1>
    

    <pre><code>{{ this.formData.get( 'client' )?.errors | json }}</code></pre>

    <div class="form-content">
        <div class="field">
            <label for="client">Cliente</label>¨
            <input type="text" formControlName?="client" id="client" placeholder="Ej: David Moreno"/>
            <div class="error">
                @if( this.formData.get( 'client' )?.invalid && ( this.formData.get( 'client')?.dirty || this.formData.get( 'client')?.touched)){
                    @if( this.formData.get( 'client' )?.errors?.[ 'required'] ) {
                        <span>El nombre es obligatoria</span>
                    }
                }
            </div>
        </div>
        <div>
            
        </div>
        <div class="field">
            <button type="submit">Registrar Cliente</button>
        </div>
    </div>

</form>